@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: url(../img/Photo-principale-sans-texte-2.jpg) no-repeat;
    background-size: cover;
    background-position: 10% 40%;
    filter: brightness(35%); 
    z-index: -1;
}

.navtop {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav li {
    text-decoration: none;
    color: white;
    padding: 30px;
    margin-right: 80px;
}

.nav li a {
    -webkit-transition: 1s ease;
    color: #213641;
    text-decoration: none;
}

.nav .Book {
    color: white;
    margin-left: 300px;
    box-shadow: none;
    background-color: #6E86E6;
    -webkit-transition: 1s ease;
}

.nav .Book:hover {
    color: #39439a;
    transition: 1s ease;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
}

.phone,
.glass {
    color: #434dbf;
    background-color: #eff5fe;
    padding: 12px;
    border-radius: 50%;
    font-size: 25px;
}

.phone {
    position: absolute;
    left: 40px;
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    margin-right: 110px;
}

.navbar h3 {
    text-transform: uppercase;
    margin: 100px 0px 0px 0px;
    text-align: center;
    color: white;
    width: 25%;
    font-size: 50px;
}

.glass {
    margin-right: 60px;
}

header {
    border-bottom: 1px solid white;
}

header p {
    color: white;
    margin-left: 100px;
    width: 120px;
}

h1, h3 {
    font-family: Titan One;
    opacity: 0.9;
    font-weight: 400;
}

a, p {
    font-family: Space Grotesk;
}

a {
    text-transform: uppercase;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar p {
    color: white;
    width: 28%;
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
}

nav {
    width: 100%;
    background-color: #D9D9D9;
    position: fixed;
    top: 0px;
    z-index: 1;
    border-bottom: 3px solid #213641;
}

.btn {
    margin-top: 10px;
    flex-direction: row;
}

.Learn {
    font-family: 'ABeeZee', sans-serif;
    padding: 13px;
    margin-right: 40px;
    border-radius: 20px;
    background-color: #39439a;
    overflow: hidden;
    z-index: 0;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.Learn:hover::before {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: 1px solid white;
    top: 0;
    height: 100%;
}

.Learn:hover {
    transition: 1s ease;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
}

.Book {
    font-family: 'ABeeZee', sans-serif;
    padding: 13px;
    border-radius: 20px;
    background-color: #39439a;
    overflow: hidden;
    z-index: 0;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.Book:hover {
    transition: 1s ease;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
}

.navbar a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    -webkit-transition: 0.5s ease;
}

.Contact-a:hover, .Home-a:hover, .Destination-a:hover, .Packages-a:hover, .Gallerys-a:hover, .AboutUs-a:hover {
    transition: 1s ease;
    color: #6E86E6;
}

.navbar li {
    margin: 30px 70px 0px 10px;
}

li {
    display: inline-block;
}

.Destinations {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 400px;
    width: 100%;
    background-color: white;
}

.Destinations h3, .discover-title {
    margin: 10px 0 0 0;
    font-size: 40px;
    text-transform: uppercase;
    color: #213641
}

.Destinations p, .discover_txt {
    font-size: 23px;
    text-align: center;
    width: 25%;
}

.Destinations span, .discover    {
    text-transform: uppercase;
    font-family: 'ABeeZee', sans-serif;
    color: #39439a;
}

.txt-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.discover {
    margin: 0;
    text-transform: uppercase;
}

.eiffel-image, .liberty-image, .dubai-image {
    width: 30%;
    height: 100%;
}

.star {
    background-color: #39439A;
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.khalifa-container, .liberty-container, .paris-container {
    background-color: #ffffff;
}