@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

.newyork {
    display: none;
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 23.5%;
    background: url(../img/Photo-principale-sans-texte-2.jpg) no-repeat;
    background-size: cover;
    background-position: 10% 40%;
    filter: brightness(35%);
    z-index: -1;
}

.navtop {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.navtop .fa-bars {
    display: none;
}

nav {
    width: 100%;
    background-color: #D9D9D9;
    position: fixed;
    top: 0px;
    z-index: 1;
    border-bottom: 3px solid #213641;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
}

.nav {
    height: 100px;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

.nav li {
    text-decoration: none;
    color: white;
    margin-left: 32px;
}

.nav li:nth-child(6) {
    margin-right: auto;
}

.nav li a {
    -webkit-transition: 1s ease;
    color: #213641;
    text-decoration: none;
}


.nav .Book {
    font-family: AbeeZee;
    padding: 13px;
    color: white;
    border-radius: 20px;
    background-color: #6E86E6;
}

.nav .Book:hover {
    color: #39439a;
    transition: 1s ease;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
}

.phone,
.glass {
    color: #434dbf;
    background-color: #eff5fe;
    padding: 12px;
    border-radius: 50%;
    font-size: 25px;
}

.phone {
    position: absolute;
    left: 40px;
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    margin-right: 110px;
}

.navbar h3 {
    text-transform: uppercase;
    margin: 100px 0px 0px 0px;
    text-align: center;
    color: white;
    width: 25%;
    font-size: 50px;
}

.glass {
    margin-right: 60px;
}

header {
    border-bottom: 1px solid white;
}

header p {
    color: white;
    margin-left: 100px;
    width: 120px;
}

h1,
h3,
h4 {
    font-family: Titan One;
    opacity: 0.9;
    font-weight: 400;
}

a,
p {
    font-family: Space Grotesk;
}

a {
    text-transform: uppercase;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar p {
    color: white;
    width: 28%;
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
}

.btn {
    margin-top: 10px;
    flex-direction: row;
}

.Learn {
    font-family: AbeeZee;
    padding: 13px;
    margin-right: 40px;
    border-radius: 20px;
    background-color: #39439a;
    overflow: hidden;
    z-index: 0;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.Learn:hover::before {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: 1px solid white;
    top: 0;
    height: 100%;
}

.Learn:hover {
    transition: 1s ease;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
}

.navbar .Book {
    font-family: AbeeZee;
    padding: 13px;
    border-radius: 20px;
    background-color: #39439a;
    overflow: hidden;
    z-index: 0;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.navbar .Book:hover {
    transition: 1s ease;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
}

.navbar a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    -webkit-transition: 0.5s ease;
}

.Contact-a:hover,
.Home-a:hover,
.Destination-a:hover,
.Packages-a:hover,
.Gallerys-a:hover,
.AboutUs-a:hover {
    transition: 1s ease;
    color: #6E86E6;
}

.navbar li {
    margin: 30px 70px 0px 10px;
}

li {
    display: inline-block;
}

.Destinations {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 400px;
    width: 100%;
    background-color: white;
}

.Destinations h3 {
    color: #213641;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    font-size: 50px;
}

.Destinations p {
    font-size: 23px;
    text-align: center;
    width: 25%;
}

span {
    text-transform: uppercase;
    font-family: ABeeZee;
    color: #39439a;
}

.idea1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 40px;
}

.idea2 .city {
    right: -4px;
}

.idea2 .people,
.idea3 .people {
    left: 75px;
}

.txt1 {
    padding-left: 10px;
    background-color: #EEEDED;
    width: 440px;
    height: 300px;
}

.txt2 {
    height: 300px;
    background-color: #6E86E6;
    width: 20%;
    color: white;
}

.reviews {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.txt2 li a {
    text-decoration: none;
}

.reviews p {
    font-size: 20px;
    margin-right: 10px;
}

.reviews i {
    font-size: 20px;
    margin-left: 3px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.price a {
    border-radius: 40px;
    text-align: center;
    width: 190px;
    font-family: AbeeZee;
    font-size: 20px;
    padding: 10px;
    color: white;
    border: 3px solid white;
    text-decoration: none;
    -webkit-transition: 0.4s ease;
}

.price a:hover {
    transition: 1s ease;
    color: black;
    background-color: white;
}

.dollars {
    font-family: Titan One;
    font-size: 60px;
    margin: 10px;
}

.description {
    font-size: 20px;
    margin-left: 10px;
    width: 100%;
}

.Ideas h4 {
    color: #213641;
    width: 90%;
    margin-left: 10px;
    font-size: 25px;
}

.idea2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 40px;
}

.idea3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.info {
    position: relative;
    right: -10px;
    width: 78%;
    padding: 10px;
    margin-top: 50px;
    font-family: Space Grotesk;
    height: 35px;
    border-radius: 10px;
    border: 1.5px solid rgb(173, 170, 170);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info i {
    color: #6E86E6;
    font-size: 20px;
    margin: 0px 3px 0px 10px;
}

.user,
.location {
    border-left: 1px solid black;
    padding-left: 10px;
}

.days {
    position: absolute;
    left: 0px;
}

.people {
    position: absolute;
    left: 75px;
}

.city {
    position: absolute;
    margin-right: 10px;
    right: -2px;
}

.Ideas img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 300px;
    width: 20%;
}

.photos-txt {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    width: 100%;
    background-color: white;
}

.photos-txt h3 {
    color: #213641;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    font-size: 50px;
}

.photos-txt p {
    font-size: 23px;
    text-align: center;
    width: 34%;
}

.photos-main img {
    border-radius: 10px;
}

.photos-main {
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo1 {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.photo2 {
    cursor: pointer;
    position: relative;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.santa {
    height: 500px;
    width: 500px;
}

.bora {
    margin-top: 20px;
    height: 300px;
    width: 500px;
}

.gaspé {
    height: 500px;
    width: 500px;
    margin: 0px 50px 0px 50px;
}

.img1 {
    cursor: pointer;
    position: relative;
}

.img1:hover .desc-wrapper {
    display: flex;
}

.img2 {
    position: relative;
    cursor: pointer;
}

.img2:hover .desc-wrapper {
    top: 20px;
    height: 93%;
    display: flex;
}

.photo2:hover .desc-wrapper {
    height: 823px;
    display: flex;
}

.img3 {
    cursor: pointer;
    position: relative;
}

.img3:hover .desc-wrapper {
    width: 83%;
    left: 50px;
    display: flex;
}

.img4 {
    cursor: pointer;
    position: relative;
}

.img4:hover .desc-wrapper {
    top: 20px;
    height: 300px;
    width: 83.5%;
    left: 50px;
    display: flex;
}

.desc-wrapper p {
    -webkit-transition: 0.3s ease;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
}

.desc-wrapper p:hover {
    transition: 0.5s ease-in;
    color: yellow;
}

.desc-wrapper {
    transition: 1s ease;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.349);
    display: none;
    flex-direction: column;
    height: 98%;
    border-radius: 10px;
    justify-content: center;
    left: 0;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.photo2 img {
    height: 825px;
}

.txt-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.discover {
    margin: 0;
    text-transform: uppercase;
}

.eiffel-image {
    height: 580px;
    width: 550px;
    position: relative;
    z-index: -1;
    border-radius: 30px;
}

.star {
    background-color: #39439A;
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    position: absolute;
    bottom: 200px;
    right: 80px;
}

.paris-container {
    background-color: #ffffff;
    width: 90%;
    border-radius: 30px;
    position: absolute;
    z-index: -1;
    padding: 20px;
    bottom: 40px;
    left: 30px;
    padding-right: 80px;
}

.paris {
    color: #39439A;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    font-size: 16px;
}

.eiffel {
    font-family: Titan One;
    text-transform: uppercase;
    color: #213641;
    font-size: 40px;
    margin: 0;
}

.container-destination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-destination {
    position: relative;
}

.antorno {
    margin: 20px 0px 0px 50px;
    height: 300px;
    width: 500px;
}

#carousel-right {
    border: 1px solid #6E86E6;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    right: -150px;
    top: 250px;
    font-size: 30px;
    -webkit-transition: 1s ease;
}

#carousel-right:hover {
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s ease;
    border: 1px solid white;
    background-color: #213641;
    color: white;
}

#carousel-left {
    border: 1px solid #6E86E6;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    left: -150px;
    top: 250px;
    font-size: 30px;
    -webkit-transition: 1s ease;
}

#carousel-left:hover {
    font-size: 30px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s ease;
    background-color: #213641;
    color: white;
}

.Contact {
    margin-top: 10px;
    color: white;
    height: 450px;
    background-color: #6E86E6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Contact a {
    text-decoration: none;
    background-color: #39439A;
    color: white;
    text-align: center;
    width: 250px;
    padding: 15px;
    font-size: 30px;
    margin: 100px 300px 0px 0px;
    border-radius: 30px;
    border: 2px solid white;
    -webkit-transition: 0.5s ease;
}

.Contact a:hover {
    border: 1px solid white;
    transition: 1s ease;
    background-color: transparent;
}

.txt {
    width: 50%;
    margin-left: 100px;
    margin-top: 50px;
}

.txt .business {
    font-size: 20px;
    width: 90%;
}

.action {
    margin: 0;
    font-size: 20px;
}

.txt h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 45px;
}

.about-us {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #213641;
}

.blue {
    color: #6E86E6;
    margin-left: 0;
    margin-top: 0;
    width: 20%;
}

.p1 {
    width: 35%;
    margin-bottom: 5px;
    font-size: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.mail {
    margin: 0;
}

.endroit {
    width: 70%;
}

.blanc {
    margin-left: 20px;
    width: 45%;
    color: white;
}

.travel {
    width: 20%;
}

.travel h3 {
    text-transform: uppercase;
    margin: 40px 0px 0px 0px;
    font-size: 50px;
}

::placeholder {
    color: #213641;
}

#email {
    transition: 1s ease;
    width: 70%;
    padding: 10px;
    background-color: #D9D9D9;
    border: 1px solid white;
    border-radius: 8px;
}

form {
    margin-top: 40px;
}

form p {
    width: 70%;
}

input[type="submit"] {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 70%;
    margin-top: 40px;
    border-radius: 30px;
    padding: 10px;
    -webkit-transition: 1s ease;
}

input[type="submit"]:hover {
    cursor: pointer;
    transition: 1s ease;
    background-color: #6E86E6;
    color: white;
}

.hidden {
    display: none;
}

.Hollywood{
    margin-left: 15px;
    color: white;
    text-transform: none;
}

.privacy p {
    margin-left: 10px;
}

.credit {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 80px 30px 0px 30px;
    justify-content: space-between;
    background-color: #213641;
}

.privacy {
    display: flex;
}

.Contact-us {
    margin: 40px 0px 0px 30px;
}

.black {
    margin-left: 10px;
    height: 40px;
    width: 2px;
    background-color: #FFFFFF;
}

/* TABLETTES */
@media screen and (max-width: 1024px) {
    .container::after {
        height: 11%;
        background-position: 50%;
    }
    
    .navtop {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        border-bottom: 2px solid #6E86E6;
        background-color: #213641;
        z-index: 1;
        margin-top: 0;
        top: -10px;
    }

    .navbar h3 {
        width: 70%;
    }

    .navbar p {
        width: 56%;
    }

    .Destinations p {
        width: 50%;
    }

    .Ideas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .idea1,
    .idea2,
    .idea3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Ideas h4 {
        width: 100%;
        font-size: 21px;
    }

    .idea2 .people {
        left: 65px;
    }

    .Ideas img {
        border-bottom-left-radius: 0%;
        border-top-right-radius: 5px;
    }

    .txt2 {
        border-bottom-left-radius: 10px ;
        border-bottom-right-radius: 10px ;
    }

    .txt1, .txt2, .Ideas img {
        width: 426px;
    }

    .antorno {
        display: none;
    }

    .photo2 img {
        display: none;
    }

    .gaspé {
        display: none;
    }

    .photos-txt h3 {
        font-size: 45px;
    }

    .photos-txt p {
        width: 90%;
    }

    #carousel-right {
        border: transparent;
        color: #434dbf;
        position: absolute;
        right: 50px;
    }

    #carousel-left {
        border: transparent;
        color: #434dbf;
        position: absolute;
        left: 50px;
    }

    .txt {
        margin: 0;
    }

    .Contact a {
        margin:0;
        font-size: 20px;
    }
    
    .txt h3 {
        font-size: 40px;
    }

    .txt .business {
        width: 100%;
    }

    .travel {
        width: 36%;
    }

    form {
        margin: 40px 0px 0px 50px;
        width: 70%;
    }

    header p {
        margin-left: 63px;
    }

    .Contact-us {
        width: 305px;
        margin: 80px 0px 0px 30px;
    }

    .navtop .fa-bars {
            color: #434dbf;
            background-color: #eff5fe;
            padding: 12px;
            border-radius: 50%;
            font-size: 25px;
            display: inline;
    }

    .navtop .fa-magnifying-glass {
        display: none;
    }
}


/* MOBILES */
@media screen and (max-width: 768px) {
    .container::after {
        background-position: 50% 10%;
        height: 10%;
    }

    .navtop {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        border-bottom: 2px solid #6E86E6;
        background-color: #213641;
        z-index: 1;
        margin-top: 0;
        top: -10px;
    }

    input[type="submit"] {
        margin-top: 10px;
    }

    h1 {
        margin-bottom: 10px;
        left: 55px;
        position: relative;
    }

    .navbar h3 {
        font-size: 40px;
        width: 100%;
    }

    .navbar p {
        font-size: 23px;
        width: 100%;
    }

    .navtop .fa-bars {
        bottom: 15px;
        position: absolute;
        right: 10px;
        display: inline-block;
        color: #434dbf;
        background-color: #eff5fe;
        padding: 12px;
        border-radius: 50%;
        font-size: 25px;
    }

    .navtop .phone {
        position: absolute;
        left: 10px;
        top: 37px;
    }

    .navtop p {
        display: none;
    }

    .nav {
        display: none;
    }

    .Ideas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .idea1,
    .idea2,
    .idea3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Ideas h4 {
        width: 100%;
        font-size: 21px;
    }

    .idea2 .people {
        left: 65px;
    }

    .Ideas img {
        border-bottom-left-radius: 0%;
        border-top-right-radius: 5px;
        width: 95%;
    }

    .txt1 {
        padding-right: 10px;
        width: 95%;
    }

    .txt2 {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 95%;
    }

    .info {
        width: 330px;
        bottom: 30px;
    }

    .Destinations {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Destinations h3 {
        font-size: 45px;
    }

    .Destinations p {
        font-size: 21px;
        width: 100%;
    }

    .photos-txt {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .photos-txt h3 {
        text-align: center;
        font-size: 41px;
    }

    .photos-txt p {
        font-size: 20px;
        width: 100%;
    }

    .photos-main {
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bora {
        width: 300px;
    }

    .santa {
        height: 300px;
        width: 300px;
    }

    .photo1,
    .photo2 {
        margin-left: 0;
    }

    .photo2 img {
        display: none;
    }

    .img3 img {
        display: none;
    }

    .img4 img {
        display: none;
    }

    .container-destination {
        position: relative;
    }

    .first-destination {
        width: 90%;
        margin-bottom: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .first-destination img {
        height: 400px;
        width: 90%;
    }

    .star {
        position: relative;
        right: -80px;
        bottom: 160px;
    }

    #carousel-right,
    #carousel-left {
        border: 1px solid white;
        color: white;
        position: absolute;
        text-align: center;
        top: 140px;
        width: 15%;
    }

    #carousel-left {
        left: 30px;
    }

    #carousel-right {
        right: 30px;
    }

    .eiffel {
        font-size: 20px;
    }

    .paris-txt {
        margin: 0;
    }

    .paris-container {
        left: 0px;
        bottom: 175px;
        width: 85%;
        position: relative;
    }

    .txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }

    .txt h3 {
        width: 100%;
        font-size: 40px;
        text-align: center;
    }

    .txt .action {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .txt .business {
        text-align: center;
        width: 100%;
    }

    .Contact a {
        margin: 10px 0px 30px 0px;
        padding: 5px;
    }

    .Contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .Contact-us {
        width: 100%;
        padding: 25px;
    }

    .Contact-us span {
        padding: 0;
    }

    .about-us {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .travel {
        width: 90%;
    }

    .white-hidden {
        background-color: white;
        margin-right: 10px;
        height: 1px;
        width: 100%;
    }

    .credit {
        width: 90%;
        margin-left: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form {
        position: relative;
        right: 55px;
    }

    footer i {
        position: relative;
        margin-right: 5px;
        font-size: 30px;
    }

    .Hollywood {
        margin-left: 32px;
    }

    .fa-phone {
        top: 5px;
    }

    .mail i {
        top: 10px;
    }

    .endroit i {
        top: 3px;
    }

    #email {
        border-radius: 20px;
    }

    .blanc {
        width: 175px;
        margin-left: 40px;
    }

    .authors {
        width: 100%;
        margin: 0px 0px 30px 20px;
    }

    .blue {
        width: 90px;
    }

    .p1 {
        width: 100%;
        font-size: 25px;
        margin-top: 30px;
    }

    form {
        position: relative;
        left: 20px;
        width: 400px;
    }

    .endroit {
        width: 100%;
    }

    .endroit span {
        width: 70%;
        margin: 0px 100px 30px 0px;
    }

    .Contact-us {
        width: 100%;
        margin: 0;
    }
}

/* 
@media screen and (max-width: 768px) {
    .container::after {
        background-position: 50% 10%;
        height: 10%;
    }

    .navtop {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        border-bottom: 2px solid #6E86E6;
        background-color: #213641;
        z-index: 1;
        margin-top: 0;
        top: -10px;
    }

    .glass {
        display: inline-block;
        bottom: 15px;
        position: absolute;
        left: 10px;
    }

    input[type="submit"] {
        margin-top: 10px;
    }

    h1 {
        margin-bottom: 10px;
        left: 55px;
        position: relative;
    }

    .navbar h3 {
        font-size: 40px;
        width: 100%;
    }

    .navbar p {
        font-size: 23px;
        width: 100%;
    }

    .navtop .fa-bars {
        bottom: 15px;
        position: absolute;
        right: 10px;
        display: inline-block;
        color: #434dbf;
        background-color: #eff5fe;
        padding: 12px;
        border-radius: 50%;
        font-size: 25px;
    }

    .navtop .phone {
        display: none;
    }

    .navtop p {
        display: none;
    }

    .nav {
        display: none;
    }

    .Ideas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .idea1,
    .idea2,
    .idea3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Ideas h4 {
        width: 100%;
        font-size: 21px;
    }

    .idea2 .people {
        left: 65px;
    }

    .Ideas img {
        border-bottom-left-radius: 0%;
        border-top-right-radius: 5px;
        width: 95%;
    }

    .txt1 {
        padding-right: 10px;
        width: 95%;
    }

    .txt2 {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 95%;
    }

    .info {
        width: 97%;
        bottom: 30px;
    }

    .Destinations {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Destinations h3 {
        font-size: 45px;
    }

    .Destinations p {
        font-size: 21px;
        width: 100%;
    }

    .photos-txt {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .photos-txt h3 {
        text-align: center;
        font-size: 41px;
    }

    .photos-txt p {
        font-size: 20px;
        width: 100%;
    }

    .photos-main {
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bora {
        width: 300px;
    }

    .santa {
        height: 300px;
        width: 300px;
    }

    .photo1,
    .photo2 {
        margin-left: 0;
    }

    .photo2 img {
        display: none;
    }

    .img3 img {
        display: none;
    }

    .img4 img {
        display: none;
    }

    .container-destination {
        position: relative;
    }

    .first-destination {
        width: 90%;
        margin-bottom: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .first-destination img {
        height: 400px;
        width: 90%;
    }

    .star {
        position: absolute;
        right: 60px;
        bottom: 150px;
    }

    #carousel-right,
    #carousel-left {
        border: 1px solid white;
        color: white;
        position: absolute;
        text-align: center;
        top: 140px;
        width: 15%;
    }

    #carousel-left {
        left: 30px;
    }

    #carousel-right {
        right: 30px;
    }

    .eiffel {
        font-size: 20px;
    }

    .paris-txt {
        margin: 0;
    }

    .paris-container {
        left: 25px;
        bottom: 15px;
        width: 85%;
    }

    .txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }

    .txt h3 {
        width: 100%;
        font-size: 40px;
        text-align: center;
    }

    .txt .action {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .txt .business {
        text-align: center;
        width: 100%;
    }

    .Contact a {
        margin: 10px 0px 30px 0px;
        padding: 5px;
    }

    .Contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .about-us {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .travel {
        width: 100%;
    }

    .white-hidden {
        background-color: white;
        height: 1px;
        width: 100%;
    }

    .credit {
        width: 90%;
        margin-left: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form {
        position: relative;
        right: 55px;
    }

    footer i {
        position: relative;
        margin-right: 5px;
        font-size: 30px;
    }

    .Hollywood {
        margin-left: 32px;
    }

    .fa-phone {
        top: 5px;
    }

    .mail i, .endroit i {
        top: 10px;
    }

    #email {
        border-radius: 20px;
    }

    .blanc {
        margin-left: 40px;
    }

    .authors {
        width: 100%;
        margin: 0px 0px 30px 20px;
    }

    .blue {
        width: 90px;
    }

    .p1 {
        width: 100%;
        font-size: 25px;
        margin-top: 30px;
    }

    .endroit {
        margin-bottom: 30px;
    }

    .Contact-us {
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: tomato;
    }

    .container::after {
        height: 11%;
        background-position: 50%;
    }
    
    .navtop {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        border-bottom: 2px solid #6E86E6;
        background-color: #213641;
        z-index: 1;
        margin-top: 0;
        top: -10px;
    }

    .navbar h3 {
        width: 70%;
    }

    .navbar p {
        width: 56%;
    }

    .Destinations p {
        width: 50%;
    }

    .Ideas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .idea1,
    .idea2,
    .idea3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Ideas h4 {
        width: 100%;
        font-size: 21px;
    }

    .idea2 .people {
        left: 65px;
    }

    .Ideas img {
        border-bottom-left-radius: 0%;
        border-top-right-radius: 5px;
    }

    .txt2 {
        border-bottom-left-radius: 10px ;
        border-bottom-right-radius: 10px ;
    }

    .txt1, .txt2, .Ideas img {
        width: 426px;
    }

    .antorno {
        display: none;
    }

    .photo2 img {
        display: none;
    }

    .gaspé {
        display: none;
    }

    .photos-txt h3 {
        font-size: 45px;
    }

    .photos-txt p {
        width: 90%;
    }

    #carousel-right {
        position: absolute;
        right: 50px;
    }

    #carousel-left {
        position: absolute;
        left: 50px;
    }

    .txt {
        margin: 0;
    }

    .Contact a {
        margin:0;
        font-size: 20px;
    }
    
    .txt h3 {
        font-size: 40px;
    }

    .txt .business {
        width: 100%;
    }

    .travel {
        width: 36%;
        margin-left: 33px;
    }

    .Contact-us {
        margin: 60px 0px 0px 149px;
        width: 40%;
    }

    form {
        margin-top: 40px;
        width: 100%;
    }

    header p {
        margin-left: 63px;
    }

    .navtop .fa-bars {
            color: #434dbf;
            background-color: #eff5fe;
            padding: 12px;
            border-radius: 50%;
            font-size: 25px;
            display: inline;
    }

    .navtop .fa-magnifying-glass {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-color: blue;
    }
} */
